{% extends 'product_catalog/base.html' %}
{% load custom_tag %}
{% block content %}
<div class="container">
    <div class="col-12 mt-5">
        <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить Статью</a>
    </div>
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card m-4" style="width: 14rem;">

                <div class="card-body">
                    <p class="card-title" >Статья {{ object.title | title }}</p>
                    <p class="card-text">{{ object.body | cut_100_chars }}</p>
                    <a href="{% url 'blog:view' object.pk %}" class="btn btn-primary mt-2" >Посмотреть</a>
                    <a href="{% url 'blog:update' object.pk %}" class="btn btn-primary mt-2">Редактировать</a>
                    <a href="{% url 'blog:delete' object.pk %}" class="btn btn-primary mt-2">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}