{% extends 'product_catalog/base.html' %}
{% load custom_tag %}
{% block content %}
<div class="container">
    <div class="col-3">
        <a class="btn btn-outline-primary m-4" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    </div>
    <div class="row">
        {% for object in object_list %}
        {% if object.is_published %}
        <div class="col-md-3">
            <div class="card m-2" style="width: 14rem;">
                <img src="{{ object.image|make_image_link }}" class="img-fluid" alt="...">
                <div class="card-body">
                    <a class="card-title" href="{% url 'catalog:product_detail' pk=object.pk %}">
                        {{ object.product_name | title }}
                    </a>
                    <p class="card-text">{{ object.description | cut_100_chars }}.</p>
                    {% if object.active_version %}
                    <p class="btn btn-success"> Актуальная версия <br> {{ object.active_version | title }}</p>
                    {% endif %}
                    {% if perms.product_catalog.set_published or user == object.owner %}
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-primary m-1">редактировать</a>
                    {% endif %}
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-primary m-1">удалить</a>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}